<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IP Yoink How-to</title>
    </head>
    <body>
        <h1>IP Yoink How-to</h1>
        <a href="https://github.com/spasimir21/ip-yoink">IP Yoink on Github</a>
        <h3>/:id - Link to send for logging for <i>id</i></h3>
        <h3>/:id/raw - View raw logs for <i>id</i></h3>
        <h3>/:id/logs - View nice logs for <i>id</i></h3>
        <p>
            <i>ID's can be anything and don't need to be created beforehand</i>
        </p>
    </body>
</html>
